/* 首页登录注册 */
.nav-login-area{
    float: right;
  font-size: 16px;
  color: #333;
  padding-top: 37px;
  margin-left: 10px;}
.nav-login-area a{color: #333; padding: 0 4px;}
.nav-login-area a:hover{color: #49CBCD;}

/* 首页我们做什么 */
.wrap{width: 1088px;}
.images_1_of_4{position: relative;}
.service-title{font-size: 32px; font-weight: bold; color: #333;}
.service .img-area{width: 60px; height: 60px; overflow: hidden; margin:0 auto; margin-bottom: 23px;}

.service-hover-corner{display:none; width:0; height:0; overflow:hidden; border:16px solid #4e4e4e;
border-top: 16px solid #fff; border-right: 16px solid #fff; position: absolute; right: 0; top: 0;}

/* 首页底部文案轮播 */

.wmuSlider.example1{min-height: 340px; overflow: hidden; background-color: #eee; padding: 100px 0;}
.wmuSlider .cont h4{font-size: 30px; font-weight: bold;}
.wmuSlider .cont p{font-size: 18px; width: 760px;}

/* 首页联系我们 */
.contact .social_2{padding: 10px 0;}
.contact .social_2 img{width: 60px; height: 60px; border-radius: 34px; background: #eee;  padding: 4px;}

/* 预约流程 */
.step-area{padding-bottom: 60px; background-color: #eee; padding-top: 40px;}
.step-area img{display: block; width: 100%;}

/* 我们的团队 */
.team .grid_1_of_4{width: 23%; margin-right: 2%; float: left; height: 440px;}
.team .grid_1_of_4 img{display: block; width: 100%;}
.team .grid_1_of_4 h3{color: #49CBCD; font-size: 20px; font-weight: bold; padding: 6px 0;}
.team .grid_1_of_4 h4{font-size: 16px; font-weight: bold; color: #333; margin-bottom: 10px;}
.team .grid_1_of_4 p{font-size: 12px; color: #555;}


/* 关于我们 */
.tl-c{text-align: center;}

.blog,
.login-area,
.acc-center,
.about-container{border-top: 1px solid #ccc;}

.about-area .intro-area{text-align: center; font-size: 16px; line-height: 1.5;}
.about-area .intro-area .service-title{margin-bottom: 20px;}
.about-area .intro-area p{margin-bottom: 40px; color: #333;}

.contact-weixin{padding: 60px 0; background: #eee; text-align: center; margin-bottom: 60px;}

.contact-weixin .title-intro{font-size: 16px; padding: 20px 0; color: 333;}

.contact-weixin .font-item{display: inline-block; font-size: 14px; line-height: 2.0; vertical-align: top; margin-right: 100px; text-align: left;}
.contact-weixin .img-item{width: 200px; height: 200px; display: inline-block; vertical-align: top;}

.address-item{display: inline-block; padding:10px 20px; border: 1px solid #eee; background: #f5f5f5; margin-top: 10px;}

/* 博客 */
/* 分类 */
.type-tags{margin-bottom: 40px;}
.type-tags ul li{float: none; padding: 0;}
.type-tags ul li a{display: block; float: none; padding:6px; margin:0 0 10px 0;}


.textbox {
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
  color: #485460;
  width: 260px;
  font-family: 'Open Sans', sans-serif;
  -webkit-apperance: none;
  padding: 10px;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  vertical-align: middle;
}
.textbox:focus
{
  box-shadow: 0px 0px 8px 1px #49CBCD;
}

.input-container{margin-bottom: 20px; position: relative;}
.input-container .error-tip{padding-left: 204px;}

.enter-intro{display: inline-block; width: 200px; text-align: right;}

.clearfix:before,.clearfix:after{display:block;content:"\20";height:0;clear:both;overflow:hidden;visibility:hidden;}.clearfix{*zoom:1;}

.btn{display: inline-block; padding: 10px 30px; border: 1px solid #49CBCD; background: #49CBCD;
color: #fff; border-radius: 6px; font-size: 16px; text-align: center;}

.forget-link{font-size: 14px; color: #ff4400;}

.error-tip{color: #ff4400; font-size: 12px; padding-top: 6px;}

.default-btn{background: #f5f5f5; color: #333; background: #eee; border:1px solid #ccc;}
.btn.code-btn{position: absolute; top: 3px;
  right: 117px; padding: 8px 10px; font-size: 12px;}
.btn.disabled{cursor: default; border: 1px solid #eee; color: #666;}


/* 登录注册 */
.login-area{
  padding: 100px 0 200px;
}
.login-area .service-title{border-bottom: 1px solid #ddd; padding-bottom: 20px; margin-bottom: 40px;}
.login-area form{width: 600px; margin: 0 auto;}

/* 找回密码 */
.login-area .find-pass-title{font-size: 24px; padding-bottom: 10px;}
.find-step-area{border: 1px solid #eee; border-radius: 6px; margin-bottom: 40px;}
.find-step-area li{float: left; width: 33.33%; border-right: 1px solid #eee; box-sizing:border-box; text-align: center;font-size: 18px; font-weight: bold; color: #666; height: 50px; line-height: 50px;}
.find-step-area li em{font-size: 24px; margin-right: 10px; vertical-align: middle;}
.find-step-area li span{vertical-align: middle;}
.find-step-area li.active{color: #ff4400;}

.regis-tip{font-size: 12px; margin-bottom: 10px; color: #555;}
.signle-tip{font-size: 12px; color: #333; margin-left: 204px; margin-top: 6px;}
.step-tip{font-size: 16px; color: #666; font-weight: bold; text-align: center; margin-bottom: 20px;}
.enter-tip{font-size: 12px; line-height: 1.2; position: absolute; top: 0px;
  left: 490px;
  width: 220px; color: #666;}


.code-img-area{font-size: 12px; color: #ff4400; line-height: 1.2;}
.code-img{display: inline-block; width: 60px; height: 38px; vertical-align: middle;}
.code-img-area span{display: inline-block; vertical-align: middle; width: 40px;}

.suc-tip{font-size: 16px; margin-bottom: 20px;}
.suc-tip img{vertical-align: middle;}
.suc-tip span{vertical-align: middle;}

/* 产品详情介绍 */

.cookie-area{margin-bottom: 20px; font-size: 14px; color: #333; border-top: 1px solid #eee; padding-top: 20px;}
.cookie-area a{color: #333;}
.cookie-area a:hover{color: #49CBCD;}

/* 价格区域  */
.product-intro-price-area{padding-bottom: 40px; font-size: 14px;}
.product-intro-price-area .img-area{float: left; width: 300px; height: 300px; margin-right: 60px;background: #eee;}
.price-intro{float: left;}
.price-intro h4{color: #333; font-size: 18px; font-weight: bold;}
.price{padding: 10px; border: 2px solid #eee; color: #49CBCD; font-size: 16px; font-weight: bold; width: 200px; margin: 10px 0 20px 0;}
.sent{font-size: 12px; padding-bottom: 10px; color: #666;}

.wei-code-area{color: #333;}

.good-tip{font-size: 12px; color: #333; overflow: hidden;}
.good-tip li{float: left; margin-right: 20px;}
.good-tip li em{color: #49CBCD}

.font-area h4{font-size: 20px; font-weight: bold; margin-bottom: 20px;}
.font-area h5{font-size: 16px; font-weight:bold; margin-bottom: 16px; padding-bottom: 0;}
.font-area p{line-height: 1.5; padding: 0 20px; margin-bottom: 20px; font-size: 14px;}

.tab_body .inner{padding: 0 20px; min-height: 600px;}

/*** Tab ***/
#wrapper_tab{
  margin: 39px 0 50px 0;
  clear: both;
}
#wrapper_tab a.tab_link{
  position: relative;
  z-index: 1;
  display: block;
  float: left;
  margin: 0 4px 0 0;
  padding: 0 20px;
  height: 33px;
  font-size: 14px; font-weight: bold;
  color: #777;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #f1f3f5;
  background: #f1f3f5;
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -khtml-border-radius: 2px 2px 0 0;
  behavior: url(PIE.htc);
}
#wrapper_tab a.tab_link:hover{
  border: 1px solid #f7f7f7;
  background: #f7f7f7;
}
#wrapper_tab.tab1 a.tab1,
#wrapper_tab.tab2 a.tab2,
#wrapper_tab.tab3 a.tab3{
  cursor: default;
  color: #444;
  text-decoration: none;
  border: 1px solid #e0e0e0;
  border-bottom: 1px solid #fff;
  background: #fff;
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -khtml-border-radius: 2px 2px 0 0;
  behavior: url(PIE.htc);
  position: relative;
  z-index: 3;
}
#wrapper_tab div.tab_body {
  display:none;
}
#wrapper_tab.tab1 div.tab1,
#wrapper_tab.tab2 div.tab2,
#wrapper_tab.tab3 div.tab3{
  display:block;
  position: relative;
  z-index: 2;
  border-top: 1px solid #e0e0e0;
  margin: -1px 0 0 0;
  padding: 20px 0 0 0;
}


/* 疾病效果 */
.tab-show-area{margin-top: 10px;}
.tab-show-area li{display: block; border: 1px solid #eee; border-radius: 4px; zoom:1; font-size: 14px; overflow: hidden; margin-bottom: 10px;}
.tab-show-area .title-area{background: #f5f5f5; padding: 10px; color: #333; cursor: pointer;}
.tab-show-area .title-area .ico{font-weight: bold; font-size: 16px;}
.tab-show-area .show-item{padding: 0 20px 10px; background: #f4fcff; display: none;}
.show-item.active{display: block;}
.tab-show-area .show-item span{display: inline-block; width: 120px; margin-top: 10px;}
.tab-show-area .active .show-item{display: block;}

.fl-l{float: left;}
.fl-r{float: right;}


