<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ajaxfileupload.js"></script>
<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
    <script>
       $(function () {
            $(":button").click(function () {
                if ($("#excelData").val().length > 0) {
                    ajaxFileUpload();
                }
                else {
                    alert("请选择文件");
                }
            })
        })
         function ajaxFileUpload(){
                  $.ajaxFileUpload
                     (
                       {
                            url:"{:U(MODULE_NAME. '/Disease/upload2')}", //你处理上传文件的服务端
                            secureuri:false,
                            fileElementId:'excelData',
                            dataType: 'json',
                            success: function (d)
                                  {
                                    $("#itip").html(d.info); 
                                    if(d.status==1){
                                        html="<tr><th>疾病分类</th><th>疾病名称</th><th>疾病基因描述</th></tr>"; $("#sndata").html(html);
                                        $.each(d.data,function(i,n){
                                        var tTr="<tr><td>"+n.A +"</td><td>"+n.B+"</td><td>"+n.C +"</td></tr>";
                                                                $("#sndata").append(tTr);
                                        }) 
                                    }                              
                                   $("#excelData").val(''); 
                                  }
                               }
                         )
                 
                       return false;
        } 
  　
    </script>
</head>
<body>

 <div class="main">
  <div class="operate">
  <form id="addform">
    
          <h2>疾病数据库</h2>
                <input type="file" name="excelData" id="excelData" value=""  />
                     
          <input type="button" class="btn_blue" id="import" value="导入" /><span id="itip"></span>    
       
       </form>
  </div>    
      <div class="list">    
          <table id="sndata" width="100%">
              
          </table>
      </div>
 </div>
  </body>
</html>
