      <div class="list">
          <if condition="$pdata">
          <table id="sndata" width="100%">
             
                 <tr><th>检测编码</th><td>{$pdata.sid}</td></tr>
                 <tr><th>客户姓名</th><td>{$pdata.member_name}</td></tr>
                 <tr><th>性别</th><td>{$pdata.sex}</td></tr>
                 <tr><th>出生日期</th><td>{$pdata.birthday}</td></tr>
                 <tr><th>年龄</th><td>{$pdata.age}</td></tr>
                 <tr><th>身高</th><td>{$pdata.height}</td></tr>
                 <tr><th>体重</th><td>{$pdata.weight}</td></tr>
                 <tr><th>腰围</th><td>{$pdata.waistline}</td></tr>
                 <tr><th>臀围</th><td>{$pdata.hip}</td></tr>
                 <tr><th>安静心率</th><td>{$pdata.heart}</td></tr>
                 <tr><th>职业</th><td>{$pdata.job}</td></tr>
                 <tr><th>运动方式</th><td>{$pdata.sport}</td></tr>                                        
          </table>         
           </if>
      </div>

